@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(to bottom, rgb(92, 2, 92), rgb(122, 1, 122), rgb(180, 3, 180), rgb(219, 3, 219), rgb(255, 1, 255));
}

h1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2.3em;
}

main{
    background-color: white;
    margin: auto;
    width: 700px;
    padding: 20px;
    height: 84.5vh;
}

h2{
    padding: 14px;
    text-align: center;
    font-size: 1.7em;
}

ul{
    margin: 20px;
    padding: 10px;
}

li{
    padding: 5px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

div{
    text-align: right;
}

img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

#t{
    padding-top: 10px;
    padding-right: 60px;
}